.blog {
  text-align: center;
}

.post {
	padding: 3rem 0;
	max-width: 560px;
}

.post-title {
	text-align: center;
}

.post-info {
    letter-spacing: 0.5px;
    text-align: center;

    span {
      font-style: italic;
    }
}

.post-content {
    margin: 1em 1em;
}

.post-line {
    border-top: 0.4rem solid #353535;
    display: block;
    margin: 0 auto 3rem;
    width: 4rem;
}