<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
        <body>
            {% include header.html %}
            <section class="about" id="main">
                {% include about.html %}
            </section>
            <section id="projects">
                <h1>Projects</h1>
                {% for item in site.projects %}
                {% if item.image_side == "right" %}
                    <div class="user-projects">
                        <div class="images-right">
                            <img src="{{ item.image | prepend: site.baseurl }}" />
                        </div>
                        <div class="contents">
                            <h3>{{item.title}}</h3>
                            <ul>
                                {% for feature in item.features %}
                                    <li>{{feature}}</li>
                                {% endfor %}
                            </ul>
                            {{item.content}}
                            <a class="project-link" href="{{item.project_link}}">Check it out</a>
                        </div>
                    </div>
                {% elsif item.image_side == "left" %}
                    <div class="user-projects">
                        <div class="images-left">
                            <img src="{{ item.image | prepend: site.baseurl }}" />
                        </div>
                        <div class="contents-right">
                            <h3>{{item.title}}</h3>
                            <ul>
                                <li>Featured Skills</li>
                            </ul>
                            {{item.content}}
                            <a class="project-link" href="{{item.project_link}}">Check it out</a>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
            </section>
        {{ content }}
        {% include footer.html %}
    </body>
