---
layout: clean
---

<section class="post" id="main">
	<h2 class="post-title">{{page.title}}</h2>
	<div class="post-info">
    	<span>Written by</span>
		{% if page.author %}
    		{{ page.author }}
		{% else %}
        	{{ site.username }}
    	{% endif %}

    	{% if page.date %}
    		<br>
    		<span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    	{% endif %}
	</div>
	<div class="post-line"></div>
	<div class="post-content">
  		{{ content }}
	</div>
</section>
